/* Home.css */
@keyframes jump {
  0% {
      transform: translateY(0) scale(0.5);
      opacity: 1;
  }
  50% {
      transform: translateY(-50px) scale(0.6);
      opacity: 0.8;
  }
  100% {
      transform: translateY(0) scale(0.5);
      opacity: 1;
  }
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.bubbles::before {
  /*content: url('/src/components/image\ \(6\)-fotor-bg-remover-2024081310580.png');
  position: absolute;
  width: 75px; /* Adjust width to make the dolphin smaller */
  height: auto;
  top: 20%;
  left: 20%;
  animation: jump 6s infinite;
}

.bubbles::after {
  content: url('/assests/png-transparent-death-grim-cartoon-grim-s-cartoon-fictional-character-skull-art-fotor-bg-remover-20240813111850.png');
  position: absolute;
  width: 50px; /* Adjust width to make the dolphin smaller */
  height: auto;
  top: 10%;
  left: 30%;
  animation: jump 8s infinite;
  animation-delay: 2s;
}
